<form
  nz-form
  nzLayout="vertical"
  [formGroup]="formGroup"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-label
      nzFor="nickname"
      nzRequired
      nzTooltipTitle="Начните писать требуемую должность чтобы найти то, что нужно"
    >
      <span>Должность</span>
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Некорректное значение">
      <nz-select
        nzMode="default"
        nzPlaceHolder="Начните вводить значения"
        nzShowSearch
        nzServerSearch
        formControlName="name"
        (nzOnSearch)="onSearch($event)"
      >
        <ng-container
          *ngFor="let titleItem of titles$ | async; trackBy: trackByFn"
        >
          <nz-option
            *ngIf="!(isTitleLoad$ | async)"
            [nzValue]="titleItem"
            [nzLabel]="titleItem"
          ></nz-option>
        </ng-container>
        <nz-option *ngIf="isTitleLoad$ | async" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Сейчас найдем...
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="experience">
      <span>Требуемый опыт</span>
    </nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select
        id="experience"
        formControlName="experience"
        nzPlaceHolder="Выберете значение"
      >
        <nz-option
          *ngFor="let option of experienceOptions"
          [nzLabel]="option.title"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="salaryFrom"
      >Заработная плата от</nz-form-label
    >
    <nz-form-control [nzSpan]="12">
      <nz-input-number
        style="width: 100%"
        id="salaryFrom"
        formControlName="salaryFrom"
        nzPlaceHolder="от"
        [nzMin]="1"
        [nzMax]="999999999"
        [nzStep]="5000"
        [nzFormatter]="formatterCurrency"
        [nzParser]="parserCurrency"
      ></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="salaryTo"
      >Заработная плата до</nz-form-label
    >
    <nz-form-control [nzSpan]="12">
      <nz-input-number
        style="width: 100%"
        id="salaryTo"
        formControlName="salaryTo"
        nzPlaceHolder="до"
        [nzMin]="1"
        [nzMax]="999999999"
        [nzStep]="5000"
        [nzFormatter]="formatterCurrency"
        [nzParser]="parserCurrency"
      ></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <h3>Навыки и обязанности</h3>




  <nz-form-item>
    <nz-form-label
      nzFor="skills"
      nzTooltipTitle="Чтобы появились релевантные навыки, заполните название вакансии и опыт работы"
    >
      <span>Навыки</span>
    </nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select
        id="skills"
        formControlName="keySkills"
        nzMode="tags"
        nzPlaceHolder="Начните вводить значения"
      >

        <ng-container
          *ngFor="let skill of skills$ | async; trackBy: trackByFn"
        >
          <nz-option
            *ngIf="!(isSkillsLoad$ | async)"
            [nzValue]="skill"
            [nzLabel]="skill"
          ></nz-option>
        </ng-container>
        <nz-option *ngIf="isSkillsLoad$ | async" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Сейчас найдем...
        </nz-option>

      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Обязанности</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <textarea
        [nzAutosize]="{ minRows: 6 }"
        formControlName="description"
        nz-input
        rows="2"
        placeholder="Опишите обязанности"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <h3>Дополнительные требования</h3>
  <nz-form-item>
    <nz-form-control [nzSpan]="12">
      <label nz-checkbox formControlName="description"
        >Профильное образование обязательно</label
      >
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="vacancyOwner"
      >Владелец вакансии</nz-form-label
    >
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        id="vacancyOwner"
        formControlName="vacancyOwner"
        placeholder="Укажите владельца вакансии"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="vacancyNumber"
      >Номер вакансии</nz-form-label
    >
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        id="vacancyNumber"
        formControlName="vacancyNumber"
        placeholder="№"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="8">
      <button nz-button nzType="primary">Опубликовать</button>
      <button nz-button>Отмена</button>
    </nz-form-control>
  </nz-form-item>
</form>
<pre>
  {{ formGroup.value | json }}
</pre>
