<form
  nz-form
  nzLayout="vertical"
  [formGroup]="formGroup"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-label
      nzFor="nickname"
      nzRequired
      nzTooltipTitle="Напишите требуемую должность. Можно указать Java или React и выбрать из предложенных"
    >
      <span>Должность</span>
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Укажите должность">
      <nz-select
        nzMode="default"
        nzPlaceHolder="Начните вводить значения"
        nzShowSearch
        nzServerSearch
        formControlName="name"
        (nzOnSearch)="onSearch($event)"
      >
        <ng-container
          *ngFor="let titleItem of titles$ | async; trackBy: trackByFn"
        >
          <nz-option
            *ngIf="!(isTitleLoad$ | async)"
            [nzValue]="titleItem"
            [nzLabel]="titleItem"
          ></nz-option>
        </ng-container>
        <nz-option *ngIf="isTitleLoad$ | async" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Сейчас найдем...
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="experience"
                   nzRequired>
      <span>Требуемый опыт</span>
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Укажите опыт">
      <nz-select
        id="experience"
        formControlName="experience"
        nzPlaceHolder="Выберете значение"
      >
        <nz-option
          *ngFor="let option of experienceOptions"
          [nzLabel]="option.title"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="salaryFrom"
      >Заработная плата от</nz-form-label
    >
    <nz-form-control [nzSpan]="12">
      <nz-input-number
        style="width: 100%"
        id="salaryFrom"
        formControlName="salaryFrom"
        nzPlaceHolder="от"
        [nzMin]="1"
        [nzMax]="999999999"
        [nzStep]="5000"
        [nzFormatter]="formatterCurrency"
        [nzParser]="parserCurrency"
      ></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="salaryTo"
      >Заработная плата до</nz-form-label
    >
    <nz-form-control [nzSpan]="12">
      <nz-input-number
        style="width: 100%"
        id="salaryTo"
        formControlName="salaryTo"
        nzPlaceHolder="до"
        [nzMin]="1"
        [nzMax]="999999999"
        [nzStep]="5000"
        [nzFormatter]="formatterCurrency"
        [nzParser]="parserCurrency"
      ></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <h3>Навыки и обязанности</h3>

  <nz-form-item>
    <nz-form-label
      nzFor="skills"
      nzRequired
      nzTooltipTitle="Можно выбрать предложенные навыки или указать те, которых нет в списке. Со временем мы будем точнее предлагать релевантные навыки"
    >
      <span>Навыки</span>
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Укажите навыки">
      <nz-select
        id="skills"
        formControlName="keySkills"
        nzMode="tags"
        [nzPlaceHolder]="
          (skills$ | async)?.length
            ? 'Нажмите чтобы увидеть навыки'
            : 'Укажите должность и опыт, чтобы увидеть навыки'
        "
      >
        <ng-container *ngFor="let skill of skills$ | async; trackBy: trackByFn">
          <nz-option
            *ngIf="!(isSkillsLoad$ | async)"
            [nzValue]="skill"
            [nzLabel]="skill"
          ></nz-option>
        </ng-container>
        <nz-option *ngIf="isSkillsLoad$ | async" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Сейчас найдем...
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      nzRequired
      nzTooltipTitle="Укажите описание вакансии, расскажите о компании, должности, будущей роли кандидата и опишите то, чем ему предстоит заниматься"
      >Описание вакансии и обязанности</nz-form-label
    >
    <nz-form-control [nzSpan]="12" nzErrorTip="Укажите обязанности">
      <textarea
        [nzAutosize]="{ minRows: 6 }"
        formControlName="description"
        nz-input
        rows="2"
        placeholder="Опишите обязанности"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <h3>Дополнительные требования</h3>
  <nz-form-item>
    <nz-form-control [nzSpan]="12">
      <label nz-checkbox formControlName="description"
        >Профильное образование обязательно</label
      >
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="vacancyOwner"
      >Владелец вакансии</nz-form-label
    >
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        id="vacancyOwner"
        formControlName="vacancyOwner"
        placeholder="Укажите владельца вакансии"
      />
    </nz-form-control>
  </nz-form-item>

  <div nz-row>
    <div nz-col [nzSpan]="4">
      <button nz-button nzType="primary">Опубликовать</button>
    </div>
    <div nz-col [nzSpan]="4">
      <a nz-button nzType="link" routerLink="/vacancies">Отмена</a>
    </div>
  </div>
</form>
