
<nz-table #table [nzData]="candidates$ | async">
  <thead>
  <tr>
    <th>Должность</th>
    <th>Опыт работы</th>
    <th>Последнее место работы</th>
    <th>Ключевые навыки</th>
    <th>Зарплата</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of table.data">
    <td>{{ item.title }}</td>
    <td>{{ item.experiences | workExperienceYears }}</td>
    <td>{{ item.experiences[item.experiences.length - 1]?.position || '-'}}</td>
    <td>
      <nz-tag *ngFor="let skill of item.skillSet" [nzColor]="'magenta'">
        {{ skill }}
      </nz-tag>
    </td>
    <td>
      от {{ item.salary | number }} рублей
    </td>
  </tr>
  </tbody>
</nz-table>
