
<nz-table #table [nzData]="candidates$ | async">
  <thead>
  <tr>
    <th>Должность</th>
    <th style="min-width: 150px">Опыт работы</th>
    <th style="min-width: 230px">Последнее место работы</th>
    <th>Ключевые навыки</th>
    <th style="min-width: 230px">Зарплата</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of table.data">
    <td><a [routerLink]="['/candidate', item.id]">{{ item.title }}</a></td>
    <td>{{ item.experiences | workExperienceYears }}</td>
    <td>{{ item.experiences | lastWork }}</td>
    <td>
      <nz-tag *ngFor="let skill of item.skillSet.slice(0, 10)" [nzColor]="'blue'" [title]="skill">
        {{ skill }}
      </nz-tag>
    </td>
    <td>
      от {{ item.salary | number }} рублей
    </td>
  </tr>
  </tbody>
</nz-table>
