.cards {
  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  &__card {
    width: 300px;
    margin-right: 32px;
  }

  &__content {
    padding:  0 20px;
  }

  &__counter {
    margin-top: 16px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}
