<ng-container *ngIf="vacancy$ | async as vacancy; else loadingTmpl">
  <div nz-row>
    <div nz-col nzSpan="10">
      <h1>{{ vacancy.name }}</h1>
      <p>
        Заработная плата <b>{{ { from: vacancy.salaryFrom | number, to: vacancy.salaryTo | number } | salaryRange}}</b>
      </p>
    </div>
    <div nz-col nzSpan="2">
    </div>
    <div nz-col nzSpan="12" style="text-align: right"
         nz-typography
         nzType="secondary">
      <p>№ {{ vacancy.vacancyNumber || vacancy.id }}</p>
      <p>{{ vacancy.vacancyOwner }}</p>
      <a *ngIf="vacancy.hhUrl"
         [href]="vacancy.hhUrl" target="_blank">
        <nz-tag nzColor="default" style="cursor: pointer">
          <i nz-icon nzType="link" nzTheme="outline"></i>
          Посмотреть на hh.tu
        </nz-tag>
      </a>
    </div>
  </div>
  <br>
  <div nz-row>
    <div nz-col nzSpan="10">
      <h3>Чем предстоит заниматься</h3>
      <div [class.vacation-description]="vacancy.description?.length > 250"
           [class.expanded]="isExpandedDescription">
        <div [innerHTML]="vacancy.description"></div>
      </div>
      <button *ngIf="vacancy.description?.length > 250"
              nz-button nzType="dashed" nzSize="small"
              (click)="isExpandedDescription = !isExpandedDescription">
        {{ isExpandedDescription ? 'Скрыть' : 'Показать' }}
      </button>
    </div>
    <div nz-col nzSpan="2">
    </div>
    <div nz-col nzSpan="12">
      <h3>Ключевые навыки</h3>
      <nz-tag style="margin: 4px" *ngFor="let skill of vacancy.keySkills" [nzColor]="'blue'">
        {{ skill?.name || skill }}
      </nz-tag>
    </div>
  </div>
  <br>

  <h2>Подходящие кандидаты</h2>

  <candidate-scoring-list></candidate-scoring-list>
</ng-container>

<ng-template #loadingTmpl>
  Загрузка...
</ng-template>
