<div nz-row>
  <div nz-col nzSpan="6">
    <nz-progress [nzPercent]="scoring.percent | number:'1.0-0'"
                 nzType="circle"
                 [nzWidth]="80"></nz-progress>
  </div>
  <div nz-col nzSpan="18">
    <ng-conainer *ngIf="scoring.matchingSkills?.length; else emptyTagsTmpl">
      <nz-tag *ngFor="let skill of scoring.matchingSkills"
              [nzColor]="'blue'">{{ skill }}</nz-tag>
    </ng-conainer>
  </div>
</div>
<div nz-row class="scoring-reasons">
  <div nz-col nzSpan="12">
    <ng-conainer *ngIf="scoring.positiveTags?.length; else emptyPositiveOrNegativeTmpl">
      <ul>
        <li *ngFor="let item of scoring.positiveTags">
          <i nz-icon [nzType]="'plus'"></i>
          <span>{{ item }}</span>
        </li>
    </ul>
    </ng-conainer>
  </div>
  <div nz-col nzSpan="12">
    <ng-conainer *ngIf="scoring.negativeTags?.length; else emptyPositiveOrNegativeTmpl">
      <ul>
        <li *ngFor="let item of scoring.negativeTags">
          <i nz-icon [nzType]="'minus'"></i>
          <span>{{ item }}</span>
        </li>
      </ul>
    </ng-conainer>
  </div>
</div>

<ng-template #emptyTagsTmpl>
  Нет совпадающих тегов
</ng-template>

<ng-template #emptyPositiveOrNegativeTmpl>
  <nz-empty nzNotFoundImage="simple"></nz-empty>
  <br>
</ng-template>
