<ng-container *ngIf="pagination$ | async as pagination">
  <nz-table #table
            [nzData]="pagination.data"
            (nzPageIndexChange)="handleChangePage($event)"
            [nzPageSize]="perPage$ | async"
            [nzPageIndex]="pagination.page"
            [nzFrontPagination]="false"
            [nzLoading]="isLoading$ | async"
            [nzTotal]="pagination.total">
    <thead>
    <tr>
      <th>Должность</th>
      <th>Опыт работы</th>
      <th>Дата открытия</th>
      <th>Зарплата</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of table.data" [routerLink]="['/vacancy', item.id]" class="clickable-row">
      <td>
        <a [routerLink]="['/vacancy', item.id]">{{ item.name }}</a>
      </td>
      <td>{{ item.experience | needExperience }}</td>
      <td>{{ item.createdAt | date: 'dd.MM.yyyy' }}</td>
      <td style="min-width: 150px;">
        {{ { from: item.salaryFrom | number, to: item.salaryTo | number } | salaryRange}}
      </td>
    </tr>
    </tbody>
  </nz-table>

</ng-container>
